<% content_for :title do %>避難所ダッシュボード<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="shelter_name" data-view="Text" data-title="避難所名"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="num_of_refugees" data-view="List" data-title="現在の避難者数" data-unordered="true"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services" data-view="List" data-title="サービス" data-unordered="true"></div>
    </li>
  </ul>
</div>
